/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Lexend Mega', sans-serif;
}

/* Body styles */
body {
  background-color: #fbf5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header styles */
h1 {
  letter-spacing: -0.3rem;
  text-align: center;
  font-size: 3rem;
  margin: 2rem auto;
}

/* Button styles */
button {
  background-color: black;
  color: white;
  margin-bottom: 50px;
  font-size: 1.5rem;
  padding: 1.5rem;
  letter-spacing: -0.2rem;
  font-weight: 600;
  z-index: 5;
  transition: box-shadow .2s ease;
}

button:hover {
  box-shadow: 10px 10px 0px #f881be;
}

button:active {
  background-color: #000000c6;
}

/* Main container styles */
.main-container {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

/* Main grid styles */
.main-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 10px 20px 1px black;
  width: 960px;
  height: 960px;
  align-items: center;
  justify-content: center;
  margin-right: 250px;
}
